/* Importación de fuentes */

@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Establecer propiedades a todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Propiedades al body */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fffdf3;
}

/* Establecer fuente del texto */
.fiancee h1,
.fiance h1,
.nexus h1 {
    font-family: 'MonteCarlo', cursive;
}

/* Propiedades a seccion wedding-section */
.wedding-section {
    text-align: center;
    padding: 3.125rem 0; 
}

/* Posicionar el texto del inicio */
.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Establecer color */
.sentence p,
.fiancee h1,
.nexus h1,
.fiance h1,
.wedding-date p {
    color: #7A2B38;
    font-weight: 600;
}

.image-engaged {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0.3125rem, -50%); 
}

.image-engaged img{
    border-radius: 0.1875rem; 
    border: 0.125rem solid #7A2B38;
    width: 34.375rem; 
    height: auto;
    transform: rotate(5deg);
}

.image-down img {
    width: 18.75rem;
    height: auto;
    transform: rotate(5deg);
}

/* Media query para pantallas grandes (769px en adelante) */
@media only screen and (min-width: 769px) {
    .sentence p {
        font-size: 2rem; 
        margin: 2rem; 
        margin-left: 3.125rem; 
        margin-top: 6.25rem; 
    }

    .fiancee h1,
    .nexus h1,
    .fiance h1 {
        font-size: 8rem; 
    }

    .fiancee h1{
        margin: -3.125rem;
    }

    .nexus{
        margin: -7.8125rem; 
    }

    .fiance {
        margin: 4.3rem; 
        margin-left: 3.12rem; 
    }

    .wedding-date p {
        font-size: 1.5rem; 
        margin: 3rem; 
        margin-top: -4rem;
    }

    .content-logo img {
        max-width: 60%;
    }

    .image-engaged {
        margin-top: -3rem; 
    }

    .image-down {
        margin-top: -23rem; 
        margin-left: 35rem; 
    }
}

/* Media query para pantallas extra grandes (1200px en adelante) */
@media only screen and (min-width: 1200px) {
    .image-down {
        margin-top: -24rem; 
        margin-left: 35rem; 
    }
    
    /* Propiedades a todo el conjunto del marco */
    .scale {
        transform: scale(0.59);
        transform-origin: center;
        margin-top: -9%;
        margin-left: -30%;
    }
}
