@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fffdf3;
}

.fiancee h1,
.fiance h1,
.nexus h1 {
    font-family: 'MonteCarlo', cursive;
}

#wrapper-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.wedding-section {
    text-align: center;
    padding: 50px 0;
}

.content-logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sentence p,
.fiancee h1,
.nexus h1,
.fiance h1,
.wedding-date p {
    color: #6d4343;
    font-weight: 600;
}

.sentence p {
    font-size: 3vw;
}

.fiancee h1,
.nexus h1,
.fiance h1 {
    font-size: 5vw;
    margin: 1vw 0;
}

.wedding-date p {
    font-size: 2vw;
}

.content-logo img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 769px) {
    .sentence p {
        font-size: 24px;
    }

    .fiancee h1,
    .nexus h1,
    .fiance h1 {
        font-size: 70px; 
        margin: -50px 0; 
    }

    .wedding-date p {
        font-size: 18px;
    }

    .content-logo img {
        max-width: 60%;
    }
}


.scale {
    transform: scale(0.95); 
    transform-origin: center;
    position: fixed; 
    left: 9%; 
}
